<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href="/css/cart.css" rel="stylesheet" type="text/css">
    <link href="/css/about.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="/script/scroll.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="/index.html" style="animation: yourAnimation 1s 1 1s linear;"><span style="font-weight: 700;">ELEGANT</span>_closets</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="animation: yourAnimation 1s 1 1s linear;">
              <a class="nav-link" href="/about.html">About Us</a>
            </li>
            <li class="nav-item active" style="animation: yourAnimation 1s 1 1s linear;">
              <a class="nav-link" href="/shop">Accessories & Upholstery</a>
            </li>
            <li class="nav-item" style="animation: yourAnimation 1s 1 1s linear;">
              <a class="nav-link" href="/project.html">Project Gallery</a>
            </li>
            <li class="nav-item" style="animation: yourAnimation 1s 1 1s linear;">
              <a class="nav-link" href="/book.html">Book Online</a>
            </li>
            <li class="nav-item" style="animation: yourAnimation 1s 1 1s linear;">
              <a class="nav-link" href="/contact.html">Contact</a>
            </li>  
            <li class="nav-item" style="animation: yourAnimation 1s 1 1s linear;">
              <a class="nav-link" href="/user/login" target="_blank"><i class="fa fa-user-circle-o"></i></a>
            </li>
          </ul>
        </div>  
    </nav>


    <div class="head">
        <div>
          <p id="comp">Hello, <%= name %> :)</p>
        </div>  
    </div>
  
      <div class="cover">
        <div class="row">
          <div class="col-sm-6 quote">
            <div>
              "The essence of interior design will always be about people and how they live. It is about the realities of what makes for an attractive, civilized, meaningful environment, not about fashion or what's in or what's out.”
            </div>
          </div>
          <div class="col-sm-6">
            <div class="summary">
              <p>Order Summary</p>
              <hr>
              <p>Subtotal : &#x20B9; <%= tot %></p>
              <form action="/shop/cart/buy" method="POST">
                <button>Buy Cart</button>
              </form>
            </div>
          </div>
        </div>
        <% var tot=0 %> 
        <table>
            <tr>
                <td></td>
                <td colspan="2">Product</td>
                <td>Color</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total Cost</td>
            </tr>
            <% items.forEach((ele)=>{ %>
                <tr>
                    <td><img src="<%= ele.item.image %>" alt="item photo" width="3vw" height="3vw"></td>
                    <td colspan="2"><%= ele.item.name %> </td>
                    <td><%= ele.item.color %></td>
                    <td>&#x20B9; <%= ele.item.price %></td>
                    <td><%= ele.quan %></td>
                    <% var x=((ele.quan)*(ele.item.price)) %> 
                    <% tot=tot+x %> 
                    <td><%= x %></td>
                    <td><a href="/shop/cart/<%= ele.item.id %>" class="del"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            <% }) %> 
        </table>
      </div>

      <div class="feet">
        <br><br>
        <p style="text-align: center; color: white; ">
            WILSON ARCHITECTS, 564 BOUNDARY ST, SPRING HILL, QLD, 4000, AUSTRALIA<br>CONTACT :07 3831 2755<br>WA@WILSONARCHITECTS.COM.AU
        </p>
        <div class="sma" style="margin-left: 45%;">
            <div><img class="sg" src="/images/instagram-sketched.svg" alt=""><img src="/images/facebook.svg" alt="" style="height: 48px;"><img class="sg" src="/images/twitter.svg" alt=""><img class="sg" src="/images/linkedin.svg" alt=""></div>
        </div>
    </div>

    <script>
        var comp = document.getElementById('comp');
        setTimeout(()=>{
          comp.style.transform='translateY(-2.5vw)';
        },500);
      </script>
    
</body>
</html>